@property st-global(--gray-0);
@property st-global(--gray-1);
@property st-global(--gray-2);
@property st-global(--gray-3);
@property st-global(--gray-4);
@property st-global(--gray-5);
@property st-global(--gray-6);
@property st-global(--gray-7);
@property st-global(--gray-8);
@property st-global(--gray-9);

/* test a build var interface approach */
:vars {
    colors: st-map(
        gray st-array(
            'var(--gray-0)',
            'var(--gray-1)',
            'var(--gray-2)',
            'var(--gray-3)',
            'var(--gray-4)',
            'var(--gray-5)',
            'var(--gray-6)',
            'var(--gray-7)',
            'var(--gray-8)',
            'var(--gray-9)',
        ),
        red st-array(
            'var(--red-0)',
            'var(--red-1)',
            'var(--red-2)',
            'var(--red-3)',
            'var(--red-4)',
            'var(--red-5)',
            'var(--red-6)',
            'var(--red-7)',
            'var(--red-8)',
            'var(--red-9)',
        ),
        pink st-array(
            'var(--pink-0)',
            'var(--pink-1)',
            'var(--pink-2)',
            'var(--pink-3)',
            'var(--pink-4)',
            'var(--pink-5)',
            'var(--pink-6)',
            'var(--pink-7)',
            'var(--pink-8)',
            'var(--pink-9)',
        ),
        grape st-array(
            'var(--grape-0)',
            'var(--grape-1)',
            'var(--grape-2)',
            'var(--grape-3)',
            'var(--grape-4)',
            'var(--grape-5)',
            'var(--grape-6)',
            'var(--grape-7)',
            'var(--grape-8)',
            'var(--grape-9)',
        ),
        violet st-array(
            'var(--violet-0)',
            'var(--violet-1)',
            'var(--violet-2)',
            'var(--violet-3)',
            'var(--violet-4)',
            'var(--violet-5)',
            'var(--violet-6)',
            'var(--violet-7)',
            'var(--violet-8)',
            'var(--violet-9)',
        ),
        indigo st-array(
            'var(--indigo-0)',
            'var(--indigo-1)',
            'var(--indigo-2)',
            'var(--indigo-3)',
            'var(--indigo-4)',
            'var(--indigo-5)',
            'var(--indigo-6)',
            'var(--indigo-7)',
            'var(--indigo-8)',
            'var(--indigo-9)',
        ),
        blue st-array(
            'var(--blue-0)',
            'var(--blue-1)',
            'var(--blue-2)',
            'var(--blue-3)',
            'var(--blue-4)',
            'var(--blue-5)',
            'var(--blue-6)',
            'var(--blue-7)',
            'var(--blue-8)',
            'var(--blue-9)',
        ),
        cyan st-array(
            'var(--cyan-0)',
            'var(--cyan-1)',
            'var(--cyan-2)',
            'var(--cyan-3)',
            'var(--cyan-4)',
            'var(--cyan-5)',
            'var(--cyan-6)',
            'var(--cyan-7)',
            'var(--cyan-8)',
            'var(--cyan-9)',
        ),
        teal st-array(
            'var(--teal-0)',
            'var(--teal-1)',
            'var(--teal-2)',
            'var(--teal-3)',
            'var(--teal-4)',
            'var(--teal-5)',
            'var(--teal-6)',
            'var(--teal-7)',
            'var(--teal-8)',
            'var(--teal-9)',
        ),
        green st-array(
            'var(--green-0)',
            'var(--green-1)',
            'var(--green-2)',
            'var(--green-3)',
            'var(--green-4)',
            'var(--green-5)',
            'var(--green-6)',
            'var(--green-7)',
            'var(--green-8)',
            'var(--green-9)',
        ),
        lime st-array(
            'var(--lime-0)',
            'var(--lime-1)',
            'var(--lime-2)',
            'var(--lime-3)',
            'var(--lime-4)',
            'var(--lime-5)',
            'var(--lime-6)',
            'var(--lime-7)',
            'var(--lime-8)',
            'var(--lime-9)',
        ),
        yellow st-array(
            'var(--yellow-0)',
            'var(--yellow-1)',
            'var(--yellow-2)',
            'var(--yellow-3)',
            'var(--yellow-4)',
            'var(--yellow-5)',
            'var(--yellow-6)',
            'var(--yellow-7)',
            'var(--yellow-8)',
            'var(--yellow-9)',
        ),
        orange st-array(
            'var(--orange-0)',
            'var(--orange-1)',
            'var(--orange-2)',
            'var(--orange-3)',
            'var(--orange-4)',
            'var(--orange-5)',
            'var(--orange-6)',
            'var(--orange-7)',
            'var(--orange-8)',
            'var(--orange-9)',
        ),
    );
    gradients: st-array(
        'var(--gradient-1)',
        'var(--gradient-2)',
        'var(--gradient-3)',
        'var(--gradient-4)',
        'var(--gradient-5)',
        'var(--gradient-6)',
        'var(--gradient-7)',
        'var(--gradient-8)',
        'var(--gradient-9)',
        'var(--gradient-10)',
        'var(--gradient-11)',
        'var(--gradient-12)',
        'var(--gradient-13)',
        'var(--gradient-14)',
        'var(--gradient-15)',
        'var(--gradient-16)',
        'var(--gradient-17)',
        'var(--gradient-18)',
        'var(--gradient-19)',
        'var(--gradient-20)',
        'var(--gradient-21)',
        'var(--gradient-22)',
        'var(--gradient-23)',
        'var(--gradient-24)',
        'var(--gradient-25)',
        'var(--gradient-26)',
        'var(--gradient-27)',
        'var(--gradient-28)',
        'var(--gradient-29)',
        'var(--gradient-30)',
    );
    noise: st-array(
        'var(--noise-1)',
        'var(--noise-2)',
        'var(--noise-3)',
        'var(--noise-4)',
        'var(--noise-5)',
    );
    noise-filter: st-array(
        'var(--noise-filter-1)',
        'var(--noise-filter-2)',
        'var(--noise-filter-3)',
        'var(--noise-filter-4)',
        'var(--noise-filter-5)',
    );
    shadow: st-array(
        'var(--shadow-1)',
        'var(--shadow-2)',
        'var(--shadow-3)',
        'var(--shadow-4)',
        'var(--shadow-5)',
        'var(--shadow-6)',
    );
    inner-shadow: st-array(
        'var(--inner-shadow-0)',
        'var(--inner-shadow-1)',
        'var(--inner-shadow-2)',
        'var(--inner-shadow-3)',
        'var(--inner-shadow-4)',
    );
}